.user-main-container{

    margin: 2rem 4rem;
 
    .user-header{
        color: #213F7D;

font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
    }
    .card-container{
        display: flex;
        justify-content: space-between;
        gap: 2rem;
    }
}
.user-card{
    margin-top: 2rem;
    width: 15rem;
    height: 9rem;
    display: flex;
    align-items: center;
    padding: 2rem ;
padding-left: 2rem;
    box-shadow: 3px 5px 20px 0px rgba(0, 0, 0, 0.04);
    border: 1px solid rgba(33, 63, 125, 0.06);
    border-radius: 4px;
    .card-temp{
       
        display: flex;
        flex-direction: column;
       
        gap: 0.7rem;
 
    }
    .svg{
        width: 2.1rem;
        height: 2.1rem;
        
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    }
    .user-text{
        color: #545F7D;

font-size: 0.8rem;
font-style: normal;
font-weight: 500;
line-height: normal;
text-transform: uppercase;
    }
    .user-number{
        color: #213F7D;

font-size: 1.6rem;
font-style: normal;
font-weight: 600;
font-family: 'Work Sans' sans-serif;
line-height: normal;
text-transform: uppercase;
    }
}
.the-table{
    // height:65vh;
    // overflow-y: scroll;
    margin-top: 3rem;
    padding: 1rem;
    border-radius: 4px;
background: #FFF;
box-shadow: 3px 5px 20px 0px rgba(0, 0, 0, 0.09);
    table{
        border: none;
       tr{
           height: 3.8rem;
           box-shadow: none;
        th{
            .t-con{
                display: flex;
                gap: 0.5rem;
            }
        }
        td{
            color: #545F7D;
font-family: 'Work Sans' sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
        }
        .date{
            width: 13em;
        
            padding-right: 3rem;
        }
        .org{width: 10rem;
            transition:  1s;

            position: relative;
          
            .handle-click-container{
                opacity: 0;
        transition: all 1s;
                position: absolute;
               visibility: hidden;
            }
        }.org:hover{
        cursor: pointer;
    .handle-click-container{
        transition:  1s;
        visibility: visible;
        opacity: 1;
        transition: opacity 0.3s, visibility 0.3s;
    display: flex;}   }  
        .name{   width: 9rem;}
        .number{ width: 10rem ; padding-right: 1rem;}  
        .email{
            width: 10rem;
            padding-right: 10rem;
        }
        .status-header{
            width: 5rem;
        }
       }
       .borer-tr{
        border-bottom: 2px solid rgba(33, 63, 125, 0.10);
        transition: all 0.3s;
        .svg-table{
            padding-left: 3rem;
            position: relative;
            // display: flex;
            // justify-content: center;
            // align-items: center;
            .svg-table-svg{
                display: flex;
            justify-content: center;
            align-items: center;
            }
            .details-container{
             
                justify-content: center;
                align-items: center;
                position: absolute;
                left: -1rem;
                top: -3rem;
                z-index: 1000;
                visibility: hidden;
                opacity: 0;
                transition: opacity 0.3s, visibility 0.3s; 
            }
        }
        .svg-table:hover{
            .details-container{
            visibility: visible;
                opacity: 1;

            }
        }
        .stat{
          
            .status-div{
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0.4rem 0.6rem;
                border-radius: 13px;
                color: #E9B200;
font-family: 'Work Sans';
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
            }
        }
    //    }.borer-tr:hover{
    //     .details-container{
    //         opacity: 1;
    //     }
    //     .details{
    //         opacity: 1;
    //     }
    //     cursor: pointer;
    //     opacity: 0.3;
    //     ;
    //    }
       tr:last-child{
border-bottom: none;
       }
    
    }

}

// margin-top: 1.5rem;
// display: flex;
// justify-content: space-between;

    



.details-main-container{
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    border: 1px solid rgba(84, 95, 125, 0.04);
    background: #FFF;
    box-shadow: 3px 5px 20px 0px rgba(0, 0, 0, 0.08);
    .details{
        text-decoration: none;
        opacity: 1;
        padding: 1rem;
        color: #545F7D;
font-family: 'Work Sans'  sans-serif;
justify-content: center;
gap: 0.6rem;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
        height: 2.5rem;
        width: 9rem;
        display: flex;
        align-items: center;
        transition: all 0.3s;
    }
    .details:hover{
        cursor: pointer;
        background-color: rgb(84, 95, 125, 0.1);
    }
}
}

.pagination-con{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .counting{
        display: flex;
        align-items: center;
        gap: 0.5rem;
        .out-con{
            display: flex;
            border-radius: 4px;
            padding: 0.3rem 0.6rem;
        background: rgba(33, 63, 125, 0.10);
        gap: 0.5rem;
        }
        }
}

.filter-main-container{
   
    border-radius: 4px;
    border: 1px solid rgba(84, 95, 125, 0.14);
    background: #FFF;
    box-shadow: 3px 5px 20px 0px rgba(0, 0, 0, 0.04);
    padding: 2rem 1rem;
    .filter-options-container{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .filter-opttions{
            display: flex;
            flex-direction: column;
            gap: 0.4rem;
            label{
                color: #545F7D;
font-family: Work Sans;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
select, input{
    color: #000000;
   font-weight: 500;
    border-radius: 8px;
border: 1px solid #213F7D;
opacity: 0.2;
height: 2.7rem;
width: 15rem;
padding: 0rem 1rem;
background: #FFF;
}
select:focus, input:focus{
    outline-color: #010d24;
    color: #010d24;
}
}
.button-container{
    display: flex;
    gap: 2rem;
    .reset{
        background-color: #fff;
        border-radius: 8px;
border: 1px solid #545F7D;
padding: 0.5rem 2rem;

    }
    .filter{
        border-radius: 8px;
        border: 1px solid #39CDCC;
        background: #39CDCC;
        border-radius: 8px;
color: #FFF;
padding: 0.5rem 2rem;

    }
}
    }
}